body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input {
  width: 234px;
  height: 41px;
}
.tweet-border {
  border: 2px solid white;
}

.card-backgraund {
  background-color: #343a40;
}

.form {
  display: flex;
  flex-direction: column;
}

.submit-buttton {
  position: relative;
  bottom: -84px;
  width: 68px;
  height: 34px;
  left: -20px;
  align-self: flex-end;
}

.error140 {
  left: 16px;
  position: relative;
  bottom: -84px;
  width: 338px;
  height: 29px;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #721c24;
}

.error {
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #721c24;
}

.card {
  width: 600px;
  height: 180px;
  color: white;
  background-color: "#343A40";
  border: 2px solid white;
}
.nav {
  display: flex;
}

.user-form {
  color: white;
  display: flex;
  flex-direction: column;
}
.user-profile-button {
  width: 68px;
  height: 34px;
  background: #007bff;
  border-radius: 4px;
  align-self: flex-end;
}

.h3-custom {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.h1-custom {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

.margin-top-52px {
  margin-top: 52px;
}

.create-tweet-card {
  margin-top: 47px;
  border: 2px solid white;
  height: 180px;
  color: white;
  background-color: #343a40;
}

.input {
  width: 234px;
  height: 41px;
}

.tweet-border {
  border: 2px solid white;
}

.card-backgraund {
  background-color: #343a40;
}
